@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


*, *:after, *:before {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--f-secondary);
}

img {
  vertical-align: top;
}

:root {
  --f-header: 'Oxygen', sans-serif;
  --f-primary: 'Nunito Sans', sans-serif;
  --f-secondary: 'Maven Pro', sans-serif;
  --bg-header: #373a40;
  --white: #fff;
  --white-200: #eee;
  --white-400: #dcdcdc;
  --gray: #625f5f;
  --gray-200: #505050;
  --yellow: #deeae2;
  --space-12: 12px;
  --space-24: 24px;
  --space-36: 36px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 var(--space-24);
}