.section {
  margin-top: var(--space-24);
  margin-bottom: var(--space-36);

  &__title {
    font-size: 1.1rem;
    margin-bottom: var(--space-12);
    letter-spacing: 1px;
    font-weight: 500;
    padding: 5px 10px;
    font-weight: normal;
    font-family: var(--f-primary);
    text-transform: uppercase;
    font-weight: 500;
    background-color: var(--yellow);
    color: var(--gray);
  }

}